@using Eldoria.BlazorClient.Dtos
@using Eldoria.BlazorClient.Components.Cards
@inject Eldoria.BlazorClient.Services.Interfaces.IJourneyService JourneyService

<div class="card-list-container no-scrollbar">
    @foreach(var journey in journeyList)
    {
        <JourneyCard Journey="journey"/>
    }
</div>

@code {
    private List<JourneyDto> journeyList = [];

    protected override async Task OnInitializedAsync()
    {
        journeyList = await JourneyService.GetJourneysListAsync();
    }
}
