@inject Eldoria.BlazorClient.Services.Interfaces.IModalService ModalService

<div class="modal-backdrop" @onclick="CloseModal">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;

    private void CloseModal()
    {
        ModalService.Pop();
    }
}