@inject Eldoria.BlazorClient.Services.Interfaces.IModalService ModalService

<div class="modal-backdrop" @onclick="CloseModal">
    <div class=@($"modal-right {(_isActive ? "active" : "")}") @onclick:stopPropagation></div>
</div>

@code {
    private bool _isActive = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Yield();
            _isActive = true;
            StateHasChanged();
        }
    }

    private void CloseModal()
    {
        ModalService.Pop();
    }
}