@layout NavLayout
@page "/Home"
@using Eldoria.BlazorClient.Components.Typography
@using Eldoria.BlazorClient.Components.Buttons
@using Eldoria.BlazorClient.Components.Lists

<div class="flex-center">
    <Title Size="TitleSize.Xs">Journeys</Title>
    <Button Variant="ButtonVariant.Ghost">
        <i class="fa-solid fa-circle-plus text-dark-green text-x2l"></i>
    </Button>
</div>
<JourneysList />

