@page "/"
@using Eldoria.BlazorClient.Components.Buttons
@using Eldoria.BlazorClient.Components.Typography

<div class="lunoria_field_page">
    <Title Size="TitleSize.X2l">Lunoria</Title>

    <Button Size="ButtonSize.Xs" Variant="ButtonVariant.Primary">
        <Text>Enter</Text>
    </Button>

    <Button Size="ButtonSize.Sm" Variant="ButtonVariant.Secondary">
        <Text>Enter</Text>
    </Button>

    <Button Size="ButtonSize.Md" Variant="ButtonVariant.Warning">
        <Text>Enter</Text>
    </Button>

    <Button Size="ButtonSize.Lg" Variant="ButtonVariant.Go">
        <Text>Enter</Text>
    </Button>

    <Button Size="ButtonSize.Xl" Variant="ButtonVariant.Outline">
        <Text>Enter</Text>
    </Button>
</div>
