@page "/"
@using Eldoria.BlazorClient.Components.Buttons
@using Eldoria.BlazorClient.Components.Typography

<div class="lunoria_field_page">
    <Title Size="TitleSize.X2l">Lunoria</Title>

    <Button Size="ButtonSize.Lg" Variant="ButtonVariant.Primary" Href="/Login">
        Enter
    </Button>
</div>
