@namespace Eldoria.BlazorClient.Components.Typography

<span class="@CssClass">
    @ChildContent
</span>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
    [Parameter] public string? TextClass { get; set; }
    [Parameter] public TextSize Size { get; set; } = TextSize.Sm;
    [Parameter] public TextColor Color { get; set; } = TextColor.black;

    private string CssClass =>
        $"{GetSizeClass()} {GetTextColor()} {TextClass}";

    private string GetSizeClass() =>
        Size switch
        {
            TextSize.Xs => "text-xs",
            TextSize.Sm => "text-sm",
            TextSize.Md => "text-md",
            TextSize.Lg => "text-lg",
            TextSize.Xl => "text-xl",
            TextSize.X2l => "text-x2l",
            TextSize.X3l => "text-x3l",
            TextSize.X4l => "text-x4l",
            _ => "text-md"
        };

    private string GetTextColor() =>
        Color switch
        {
            TextColor.white => "text-white",
            TextColor.black => "text-black",
            TextColor.lightBlue => "text-light-blue",
            TextColor.lightGreen => "text-light-green",
            TextColor.darkGreen => "text-dark-green",
            TextColor.lightRed => "text-light-red",
            TextColor.darkRed => "text-dark-red",
            _ => "text-black"
        };
}