.authFormContainer {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 75px;
    padding-left: 75px;
    background-color: rgba(255, 255, 255, 0.80);
    width: 30%;
}
