.authFormContainer {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 75px;
    padding-left: 75px;
    background-color: rgba(255, 255, 255, 0.80);
    width: 30%;
}

.nav-layout-body-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px;
    padding-right: 120px;
    padding-left: 120px;
    overflow: hidden;
    min-height: 0;
}

.card-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    overflow-y: auto;
    grid-auto-rows: max-content;
}

.character-spells-container {
    border: 2px solid lightGray;
    border-radius: 15px;
    padding: 15px;
    gap: 15px;
}

.spells-toggle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}