.inputTitleContainer {
    display: flex;
    flex-direction: column;
}

.inputContainer {
    display: flex;
    padding: 10px;    
    border-radius: 10px;
}

.lightInputBorder {
    border: 2px solid white;
}

.darkInputBorder {
    border: 2px solid black;
}

.focusedInputContainer {
    border: 2px solid var(--blue-500);
}

.invalidInputContainer {
    border: 2px solid red;
}

.input {
    all: unset;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;    
}

.file-input-container {
    display: flex;
    flex-direction: column;
}