.modal-root {
    position: absolute;
    z-index: 1000;
}

.modal-expand {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal-backdrop {
    background-color: var(--stone-800-40);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.modal-right {
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-direction: column;    
    height: 100%;
    width: 40%;
    right: 0;
    top: 0;
    position: absolute;
    background-color: var(--stone-800-90);
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

    .modal-right.active {
        transform: translateX(0);
        opacity: 1;
    }

.modal-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: var(--stone-800-90);
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    padding: 20px;
}

    .modal-left.active {
        transform: translateX(0);
        opacity: 1;
    }

.modal-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: var(--stone-800-90);
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    padding: 20px;
}

    .modal-bottom.active {
        transform: translateY(0);
        opacity: 1;
    }

.modal-title-section {
    padding: 20px;
}

.modal-content-section {
    flex: 1;
    overflow-y: auto;
    padding-right: 50px;
    padding-left: 50px;
}

.modal-actions-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;   
}