.text-xs {
    font-size: 0.75rem;
}

.text-sm {
    font-size: 0.875rem;
}

.text-md {
    font-size: 1rem;
}

.text-lg {
    font-size: 1.25rem;
}

.text-xl {
    font-size: 1.563rem;
}

.text-x2l {
    font-size: 1.953rem;
}

.text-white {
    color: var(--white);
}

.text-black {
    color: var(--black);
}

.text-light-blue {
    color: var(--blue-400);
}

.text-light-green {
    color: var(--green-400);
}

.text-dark-green {
    color: var(--green-900);
}

.text-light-red {
    color: var(--red-400);
}

.text-dark-red {
    color: var(--red-900);
}

h1 {
    margin: 0;
    font-size: 9rem;
    font-weight: 500;
}

h2 {
    margin: 0;
    font-size: 8rem;
    font-weight: 500;
}

h3 {
    margin: 0;
    font-size: 7rem;
    font-weight: 500;
}

h4 {
    margin: 0;
    font-size: 6rem;
    font-weight: 500;
}

h5 {
    margin: 0;
    font-size: 5rem;
    font-weight: 500;
}

h6 {
    margin: 0;
    font-size: 4rem;
    font-weight: 500;
}
